@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-bg-color: #f8f3f3;
    --radial-gradient-1: #71bcf954;
    --radial-gradient-2: #d0b3f872;
    --radial-gradient-3: #ffd4bac7;
    --primary-color: #f59e0b;
    --primary-color-hover: #fbd34c;
    --nav-bg-color: #f8f3f394;
}

body {
    background-color: var(--main-bg-color);
}

.primary-color {
    background-color: var(--primary-color);
}

.primary-color:hover {
    background-color: var(--primary-color-hover);
}

.primary-border-color-text {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.primary-border-color-text:hover {
    border-color: var(--primary-color-hover);
    color: var(--primary-color-hover);
}

.background {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh; /* Usa min-height en lugar de height para permitir que el contenido haga que la página crezca verticalmente */
    overflow-x: hidden; /* Esto evitará el desbordamiento horizontal */
    position: relative;
}

/* Estilos base para las esferas */
.esfera {
    width: 800px;
    height: 800px;
    position: absolute;
    border-radius: 50%;

    /* Degradado radial */
    background: radial-gradient(
        circle,
        var(--radial-gradient-1),
        var(--radial-gradient-2),
        var(--radial-gradient-3)
    );

    /* Agregar desenfoque */
    filter: blur(45px);
    transition: transform 6s ease;
    z-index: -1;
}

.nav-bar {
    background-color: var(--nav-bg-color);
    z-index: 1;
    bottom: 20px;
    position: fixed;
    left: 50%; /* posiciona el inicio del elemento al 50% del ancho del contenedor */
    transform: translateX(
        -50%
    ); /* mueve el elemento hacia la izquierda la mitad de su propio ancho */
}

@media (min-width: 1320px) and (max-width: 1720px) {
    .esfera {
        width: 1100px;
        height: 1100px;
    }
}

@media (min-width: 1720px) {
    .esfera {
        width: 1500px;
        height: 1500px;
    }
}
/* #c2dff7 */
/* #d0b3f8 */
/* #ffd4ba */
/* #333333 */
/* #666666 */
