@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f8f3f3;
}

.background {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Estilos base para las esferas */
.esfera {
    width: 800px;
    height: 800px;
    position: absolute;
    border-radius: 50%;

    /* Degradado radial */
    background: radial-gradient(circle, #71bcf954, #d0b3f872, #ffd4bac7);

    /* Agregar desenfoque */
    filter: blur(45px);
    transition: transform 6s ease;
    z-index: -1;
}

.nav-bar {
    background-color: #f8f3f394;
    z-index: 1;
    bottom: 20px;
    position: fixed;
    left: 50%; /* posiciona el inicio del elemento al 50% del ancho del contenedor */
    transform: translateX(
        -50%
    ); /* mueve el elemento hacia la izquierda la mitad de su propio ancho */
}

@media (min-width: 1320px) and (max-width: 1720px) {
    .esfera {
        width: 1100px;
        height: 1100px;
    }
}

@media (min-width: 1720px) {
    .esfera {
        width: 1500px;
        height: 1500px;
    }
}
/* #c2dff7 */
/* #d0b3f8 */
/* #ffd4ba */
/* #333333 */
/* #666666 */
